@page "/counter"
@inject IDbContextFactory<nrcwebContext> dbf;

<button  Text="hello" Click=onAddRow ></button>

    <h1>Counter</h1>
    <div class="form-group">
        <label for="stock" class="control-label"></label>
        <select @bind="@selectedcode" class="form-control">
            @foreach (var item in _storlist)
            {
                <option value="@item.StockCode">@item.StockName</option>
            }
        </select>
    </div>
    <p>Current count: @currentCount</p>
    <p>Current stock: @selectedcode</p>


    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    <table>
        @foreach (var item in _storlist)
        {

            <tr>
                <td><input form="StockCode" class="form-control" @bind="@item.StockCode" />   </td>
                <td><input form="StockName" class="form-control" @bind="@item.StockName" />    </td>
                <td><button class="btn btn-primary" @onclick="()=> { _storlist.Remove(item); } ">X</button></td>
            </tr>

        }
    </table>
    <button class="btn btn-primary" @onclick="onSaveAll">save all</button>
    <button class="btn btn-primary" @onclick="onAddRow">+</button>


    @code {
        private static int currentCount = 0;
        public static string selectedcode { get; set; }
        private List<Stock> _storlist = new List<Stock>();
        protected override void OnInitialized()
        { using (var db = dbf.CreateDbContext()) _storlist = db.Stocks.ToList(); }
        private void IncrementCount() { currentCount++; }
        private async Task onSaveAll()
        {
            try
            {
                using (var db = dbf.CreateDbContext())
                {
                    db.UpdateRange(_storlist);
                    await db.SaveChangesAsync();
                    _storlist = await db.Stocks.ToListAsync();
                }
            }
            catch (Exception)
            {
                throw;
            }

        }
        public void onAddRow()
        {
            Stock s = new Stock() { StockName = "abc", Name1 = "" };
            _storlist.Add(s);
           
        }

        void ButtonClicked()
        {
            //
        }
    }


